/*charset은 선언 안해줘도 되지만, 한글때문에 선언해주는게 명시적으로 좋다. */
@charset "utf-8";

/* reset */
/* body 에는 margin 8px 이 기본적으로 들어가 있다. (userAgent StyleSheet)*/
/* 이걸 초기화 시켜줄 필요가 있음 */
html,
body{
    min-height: 100%;
}
body{ 
    margin: 0;
}
/* HTML5 Shiv파일이 필요 */
/* HTML5 BLOCK 요소들을 초기화 해줄 필요가 있음 */
header, footer, section, article, nav, aside, figure, figcaption{
    display: block;
}

/* layout */
/*
[href="#main"]{
    display: none;
}로 표현 해도 되지만. 클래스를 줘서 하는것이 좀더 좋다. 
*/
.skip {
    /* display none의 경우, 상지 장애인이 볼수 없기 때문에 */
    /* 아래와 같이 표현 하는게 더 좋다. */
    display: block;
    overflow: hidden;
    height: 1px; /*1px로 준 이유는. 화면에서 높이가 0 이면, 키보드 접근을 하기 어려운 브라우저가 있기 때문에 최소값인 1px로 준다. */
    margin: 0 0 -1px 0; /* 위의 height값이 문제가 된다면. 1px를 음수로 줘서 붙게 만들어준다. */ 
}
/*a 요소가 (바로가기) 키보드 접근을 받았을 경우 해당 바로가기 메뉴가 바로 나오게끔 아래 처리를 해준다.  */
.skip:focus {
    height: auto;
    text-align: center;
    padding: 10px;
}
/* 반응형 예제에서 변경 
.container{
    background: #ddd;
}
.header{
    background: red;
}
.body{
    background: green;
}
main{
    background: black;
}
.lnb{
    background: #333;
}
.aside{
    background: purple;
}
.footer{
    background: blue;
}
*/
/* All ( 공통 스타일, 모바일, 태블릿, 데스크탑 모두 ) */
/* 먼저 공통 속성을 파악 해두는것이 도움이 된다. */
body{
    background: -webkit-linear-gradient( #ccc,#fff);
    background: -o-linear-gradient( #ccc,#fff);
    background: -moz-linear-gradient( #ccc,#fff);
    background: -ms-linear-gradient( #ccc,#fff);
    background: linear-gradient( #ccc,#fff);
    margin: 0 10px;
}
.header>h1{
    font-size: 24px;
    text-shadow: 1px 1px 0 #fff;
    /* x, y, blur, color 순서로 
    text-shadow: 1px 1px 0 #fff, -1px -1px 0 #666;
    text-shadow:x y blur color;
    */
}

.lnb{
    background: #fff;
    border-bottom: 1px solid #ccc
}

.lnb>h2{
    margin: 0;
    border : 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    font-size: 14px;
    padding: 0 10px;
    line-height: 32px;
}
.lnb>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
/* 선택자를 작성할 경우 2단계 이상 깊어 지지 않도록 해야 한다. 오른쪽부터 탐색 */
.lnb a{
    text-decoration: none;
    color: #666;
    display: block;
    line-height: 28px;
    padding: 0 10px;
    font-size: 12px;
}
.aside{
    background: #ddd;
    border-radius: 4px;
}
/* block 레벨에서 line-height 속성이 수직 중앙 정렬이 되지 않는다. inline일때만 */
.aside>h2{
    margin: 0;
    padding: 0 10px;
    line-height: 32px;
    border-bottom: 1px solid #fff;
    font-size: 14px;
}
.aside>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.aside a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    padding: 0 10px;
    line-height: 28px;
    display: block;
}
.footer{
    border-top: 1px solid #ccc;
    font-size: 12px;
    margin: 15px 0 0 0;
}
main{
    background: #fff;
    border-radius: 5px;
}
main,
.lnb,
.aside{
    margin-bottom: 15px;
}
.article{
    padding: 10px;
}
/* Mobile */
@media (max-width: 767px){
    /* 화면을 줄여보면 responsive 로 적용된다.  */
}


/* Tablet & Desktop:이게 필요하지 않을수도 있지만, tablet과 dektop에 공통으로 적용 되는 스타일  */
@media (min-width: 768px){
    /* 화면을 줄여보면 responsive 로 적용된다.  */
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px){
    /* 화면을 줄여보면 responsive 로 적용된다.  */
}

/* Desktop */
@media (min-width: 1025px){
    /* 화면을 줄여보면 responsive 로 적용된다.  */
}


